* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #031D44;
  color: white;
  font-family: sans-serif;
}

/* header */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #04395E;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

.left {
  font-size: 1.5rem;
}

/* main-firstsection */
.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
}

.firstsection div{
  width: 30%;
  /* background-color: red; */
}

/* .leftsection {
  background-color: red;
  width: 40px;
} */