/* universal classes */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #031D44;
  color: white;
  font-family: sans-serif;
}

/* utility classes */
.purple {
  color: #b487d3;
}

.gray {
  color: gray;
}

/* header */
header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 85vw;
  background-color: #04395E;
  border-radius: 100px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(183, 183, 240);
  display: inline-block;
  transform: scale(1.2);
}

.left {
  font-size: 1.5rem;
}

/* main-firstsection */
.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

.firstsection>div {
  /* this > will used to apply the changes only 1st div */
  width: 30%;
}

.leftsection {
  font-size: 2.5rem;
}

.rightsection img {
  width: 100%;
}

main hr {
  border: 0;
  height: 2px;
  background-color: white;
  margin: 80px 70px;
}

/* main-secondsection */
.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondsection h1 {
  font-size: 2rem;
}

.secondsection .horizontalline {
  width: 80vw;
  background-color: white;
  margin-top: 20px;
  height: 2px;
  display: flex;
}

.secondsection .verticalline {
  height: 80px;
  width: 2px;
  background-color: white;
  margin: 0 80px;
}

/* footer */
footer {
  background-color: #51376b;
  height: 150px;
}

.footer-div {
  display: flex;
  justify-content: space-around;
}

.footer ul {
  text-decoration: none;
}

.footer-div > div {
  width: 100px;
}

footer .footer-rights {
  text-align: center;
  padding: 30px 0;
  color: #bebebe;
}